You asked your date for a next date.
Unfortunately, your date is not interested to meet you again and says $npc_response

Better luck next time, hopeless romantic birdy.

THE END 
And with this you have finished the game. Here are your statistics:
$accumulated_affinity_points

Thank you for playing rizzSim!

Do not answer to this message.