Congratulations! You were able to impress your date and successfully start to date them!

After spending three dates with your date, you decide to ask them if they want to officially date you.
Your date answers with $npc_response

THE END

And with this you have finished the game. Here are your statistics:

Thank you for playing rizzSim!

Do not answer to this message.