CHOOSE YOUR DATE: From the following list choose the NPC you want to date. Respond with the number of the chosen character with: NUMBER: 
1) $npc1
2) $npc2
3) $npc3

Use the following template to answer and nothing more or less.
NUMBER: