NPC'S RESPONSE: $npc_response

Choose one of the following SUB ACTIONS and reason why you have chosen it:
1) $subaction1
2) $subaction2
3) $subaction3
4) $subaction4

Use the following template to answer:
NUMBER:
REASON:
