You are NOT satisfied with today's date and would not like to try out another one.
Formulate a response for the PC where you express that you do not like to go on the proposed second date.
Use the following TEMPLATE to answer:
RESPONSE: 