START: You are in $location_name
$location_description

ACTION: Choose one of the following actions and reason why you have chosen it:
1) $action1
2) $action2
3) $action3
4) $action4

Use the following template to answer:
NUMBER:
REASON:
